<div class="flex h-screen flex-col bg-white">
  <img
    src="https://img.freepik.com/foto-gratis/ilustracion-calzado-deportivo-sobre-fondo-azul-generado-ia_188544-19603.jpg?w=1380&t=st=1720619846~exp=1720620446~hmac=c3c9abe9bd869c4c34ba10f563ad4725250fe2a24c598df070a98b49adff834d"
    alt=""
    class="h-64 w-full object-cover"
  />

  <div class="flex flex-1 items-center justify-center mb-12">
    <div class="mx-auto max-w-xl px-4 py-8 text-center">
      <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        We can't find that page.
      </h1>

      <p class="mt-4 text-gray-500">
        Try searching again, or return home to start from the beginning.
      </p>

      <a
        routerLink="/home"
        class="mt-4 inline-block bg-black px-5 py-3 text-xs hover:bg-red-700 focus:outline-none focus:ring focus:ring-yellow-400 font-medium uppercase tracking-wide text-white"
      >
        Go Back Home
      </a>
    </div>
  </div>
</div>
