<h1 class="text-3xl font-bold text-center text-gray-900 mt-8">
  Purchase History
</h1>

<section class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
  <div class="space-y-8">
    @for (purchase of purchases; track $index) {
    <div
      class="max-w-3xl mx-auto bg-white rounded-lg shadow-md p-6 transition duration-300 hover:shadow-lg"
    >
      <header class="mb-4 border-b pb-4">
        <h2 class="text-lg font-bold text-gray-900">
          <b>Invoice Number:</b> #{{ purchase.invoice_number }}
        </h2>
        <h3 class="text-md text-gray-700">
          <b>Purchase Date:</b> {{ purchase.date }}
        </h3>
        <h3 class="text-md text-gray-700">
          <b>Tracking Number:</b> {{ purchase.delivery.tracking_number }}
        </h3>
        <h3 class="text-md text-gray-700">
          <b>Delivery Address:</b> {{ purchase.delivery.delivery_address }}
        </h3>
        <h3 class="text-md text-gray-700">
          <b>Estimated Date:</b> {{ purchase.delivery.estimated_date }}
        </h3>
        <h3 class="text-md text-gray-700">
          <b>Delivery Status:</b> {{ purchase.delivery.delivery_status }}
        </h3>
      </header>
      <div>
        <h3 class="text-lg font-bold text-gray-900">Items:</h3>
        <ul class="space-y-4 mt-4">
          @for (item of purchase.details; track $index) {
          <li class="flex items-center space-x-4">
            <img
              [src]="item.product.image"
              alt="{{ item.product.model?.model }}"
              class="w-16 h-16 object-cover rounded-md"
            />
            <div class="flex-1">
              <h4 class="text-lg font-bold">
                {{ item.product.brand?.description }}
                {{ item.product.model?.model }}
              </h4>
              <p class="text-gray-600">{{ item.product.detail }}</p>
            </div>
            <div class="text-right">
              <p class="text-gray-600"><b>Quantity:</b> {{ item.quantity }}</p>
              <p class="text-gray-600"><b>Unit Price:</b> ${{ item.price }}</p>
            </div>
          </li>
          }
        </ul>
      </div>
      <div class="mt-4">
        <h3 class="text-lg font-bold text-gray-900">
          <b>Total:</b> ${{ purchase.total }}
        </h3>
      </div>
    </div>
    }
  </div>
</section>
