<section class="bg-gray-50 py-12">
  <h1 class="text-3xl font-bold text-black text-center mb-8">Contact Us</h1>

  <div class="container mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-5">
      <div class="lg:col-span-2 lg:py-12">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4">
          Full Store Inc.
        </h2>

        <div class="mt-6">
          <a
            href="mailto:info@fullstore.com"
            class="text-lg font-medium text-red-600 hover:text-red-700 hover:underline"
            >info&#64;fullstore.com</a
          >
          <p class="mt-2 text-gray-700">
            282 Kevin Brook, Imogeneborough, CA 58517
          </p>
          <p class="mt-2 text-gray-700">Phone: 11-3224546</p>
        </div>
      </div>

      <div class="bg-white p-8 rounded-xl shadow-lg lg:col-span-3">
        <form (ngSubmit)="sendEmail()" class="space-y-6">
          <div>
            <label
              class="block text-sm font-semibold text-gray-800 mb-2"
              for="user"
              >Your Email</label
            >
            <input
              class="w-full rounded-lg border border-gray-300 p-4 text-sm bg-gray-50 focus:outline-none focus:ring-2 focus:ring-red-500 transition duration-150 ease-in-out"
              placeholder="E-mail"
              type="email"
              id="user"
              [value]="user"
              [readonly]="isLogged"
              required
            />
          </div>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label
                class="block text-sm font-semibold text-gray-800 mb-2"
                for="subject"
                >Subject</label
              >
              <input
                class="w-full rounded-lg border border-gray-300 p-4 text-sm bg-gray-50 focus:outline-none focus:ring-2 focus:ring-red-500 transition duration-150 ease-in-out"
                [(ngModel)]="subject"
                name="subject"
                required
                placeholder="Subject"
                type="text"
                id="subject"
              />
            </div>
          </div>

          <div>
            <label
              class="block text-sm font-semibold text-gray-800 mb-2"
              for="message"
              >Message</label
            >
            <textarea
              [(ngModel)]="message"
              name="message"
              required
              class="w-full rounded-lg border border-gray-300 p-4 text-sm bg-gray-50 focus:outline-none focus:ring-2 focus:ring-red-500 transition duration-150 ease-in-out"
              placeholder="Your message here"
              rows="6"
              id="message"
            ></textarea>
          </div>

          <div class="mt-6">
            <button
              type="submit"
              class="w-full rounded-lg bg-black px-6 py-3 text-lg font-semibold text-white hover:bg-red-600 transition duration-300 ease-in-out"
            >
              Send Message
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
