<section class="py-12">
  @if (purchaseConfirmed) {
  <app-purchase
    [purchase]="purchase"
    [confirmedTotal]="confirmedTotal"
  ></app-purchase>
  }@else {
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="mx-auto max-w-3xl rounded-lg shadow-lg bg-white p-6">
      <header class="flex items-center justify-center space-x-4 text-center">
        <img
          src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
          alt="Zapatilla"
          class="h-16 w-16"
        />
        <h1 class="text-xl font-bold text-gray-900 sm:text-3xl">Your Cart</h1>
        <img
          src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
          alt="Zapatilla"
          class="h-16 w-16"
        />
      </header>
      <span class="flex items-center">
        <img
          src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
          alt="Zapatilla"
          class="h-10 w-10"
        />
        <span class="h-px flex-1 bg-black"></span>
        <img
          src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
          alt="Zapatilla"
          class="h-10 w-10"
        />
        <span class="h-px flex-1 bg-black"></span>
        <img
          src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
          alt="Zapatilla"
          class="h-10 w-10"
        />
        <span class="h-px flex-1 bg-black"></span>
        <img
          src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
          alt="Zapatilla"
          class="h-10 w-10"
        />
        <span class="h-px flex-1 bg-black"></span>
        <img
          src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
          alt="Zapatilla"
          class="h-10 w-10"
        />
        <span class="h-px flex-1 bg-black"></span>
        <img
          src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
          alt="Zapatilla"
          class="h-10 w-10"
        />
      </span>

      <div class="mt-8">
        <ul class="space-y-4">
          @for (item of cart.items; track $index) {
          <li class="flex items-center gap-4">
            <img
              [src]="item.product.image"
              alt=""
              class="size-16 rounded object-cover"
            />

            <div>
              <h3 class="text-sm text-gray-900">
                {{ item.product.brand?.description }}
              </h3>

              <dl class="mt-0.5 space-y-px text-[10px] text-gray-600">
                <div>
                  <dt class="inline">Model: {{ item.product.model?.model }}</dt>
                </div>
                <div>
                  <dd class="inline">Size: {{ item.product.size?.size }}</dd>
                </div>
                <div>
                  <dt class="inline">Price: {{ item.product.price }}</dt>
                </div>
              </dl>
            </div>

            <div class="flex flex-1 items-center justify-end gap-2">
              <form>
                <label for="Line1Qty" class="sr-only"> Quantity</label>

                <input
                  type="number"
                  min="1"
                  value="{{ item.quantity }}"
                  id="Line1Qty"
                  class="h-8 w-12 rounded border-gray-200 bg-gray-50 p-0 text-center text-xs text-gray-600 [-moz-appearance:_textfield] focus:outline-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none"
                />
              </form>

              <button
                class="text-gray-600 transition hover:text-red-600"
                (click)="deleteItem(item.id)"
              >
                <span class="sr-only">Remove item</span>

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-4 w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                  />
                </svg>
              </button>
            </div>
          </li>
          }
        </ul>
        <span class="flex items-center mt-8">
          <img
            src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
            alt="Zapatilla"
            class="h-10 w-10"
          />
          <span class="h-px flex-1 bg-black"></span>
          <img
            src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
            alt="Zapatilla"
            class="h-10 w-10"
          />
          <span class="h-px flex-1 bg-black"></span>
          <img
            src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
            alt="Zapatilla"
            class="h-10 w-10"
          />
          <span class="h-px flex-1 bg-black"></span>
          <img
            src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
            alt="Zapatilla"
            class="h-10 w-10"
          />
          <span class="h-px flex-1 bg-black"></span>
          <img
            src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
            alt="Zapatilla"
            class="h-10 w-10"
          />
          <span class="h-px flex-1 bg-black"></span>
          <img
            src="https://st3.depositphotos.com/1020091/12754/v/450/depositphotos_127542692-stock-illustration-tennis-sneaker-icon.jpg"
            alt="Zapatilla"
            class="h-10 w-10"
          />
        </span>

        <div class="mt-3 flex justify-end border-gray-100 pt-8">
          <div class="w-screen max-w-lg space-y-4">
            <dl class="space-y-0.5 text-sm text-gray-700">
              <div class="flex justify-between">
                <dt>Subtotal</dt>
                <dd>${{ total }}</dd>
              </div>

              <div class="flex justify-between">
                <dt>Discount</dt>
                <dd>50% OFF</dd>
              </div>

              <div class="flex justify-between !text-base font-medium">
                <dt>Total</dt>
                <dd>${{ total }}</dd>
              </div>
            </dl>

            <div class="flex justify-end">
              <span
                class="inline-flex items-center justify-center rounded-full bg-indigo-100 px-2.5 py-0.5 text-indigo-700"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="-ms-1 me-1.5 h-4 w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 010 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 010-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375z"
                  />
                </svg>

                <p class="whitespace-nowrap text-xs">2 Discounts Applied</p>
              </span>
            </div>

            <div>
              <div class="p-4 max-w-3xl mx-auto">
                <form (ngSubmit)="confirmPurchase($event)" class="space-y-4">
                  <div class="payment-methods mt-8">
                    <h2 class="text-xl font-bold mb-4">
                      Select Payment Method
                    </h2>
                    <div>
                      <label for="payment-method-select" class="block mb-2"
                        >Choose a payment method:</label
                      >
                      <div
                        *ngFor="let method of PaymentMethodTypes"
                        class="mb-2"
                      >
                        <input
                          type="radio"
                          [value]="method"
                          [(ngModel)]="PaymentSelected"
                          name="paymentMethod"
                          (change)="updatePaymentMethod()"
                          class="mr-2"
                        />
                        {{ method.description }}
                      </div>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label
                      for="card-element"
                      class="block text-sm font-medium text-gray-700"
                      >Card Information</label
                    >
                    <div
                      id="card-element"
                      class="mt-1 p-2 border border-gray-300 rounded-md shadow-sm bg-gray-50"
                    ></div>
                  </div>
                  @if (PaymentMode === 'Stripe') {
                  <div
                    class="p-4 bg-black border border-gray-300 rounded-md shadow-sm"
                  >
                    <p class="text-white font-semibold">
                      Test Stripe Integration:
                    </p>
                    <p class="text-white mt-1">
                      Please fill this card data to test Stripe and finish the
                      purchase:
                    </p>
                    <div
                      class="mt-2 p-2 bg-white border border-gray-200 rounded-md"
                    >
                      <p class="text-gray-800">
                        Number:
                        <span class="font-mono text-blue-600"
                          >4242 4242 4242 4242</span
                        >
                      </p>
                      <p class="text-gray-800">
                        Exp Month:
                        <span class="font-mono text-blue-600">12</span>
                      </p>
                      <p class="text-gray-800">
                        Exp Year:
                        <span class="font-mono text-blue-600">34</span>
                      </p>
                      <p class="text-gray-800">
                        CVC: <span class="font-mono text-blue-600">123</span>
                      </p>
                      <p class="text-gray-800">
                        C.P <span class="font-mono text-blue-600">12345</span>
                      </p>
                    </div>
                  </div>
                  }

                  <button
                    type="submit "
                    [disabled]="!PaymentSelected"
                    class="w-full bg-black px-8 py-3 text-xs hover:bg-red-700 focus:outline-none focus:ring focus:ring-yellow-400 font-medium uppercase tracking-wide text-white"
                  >
                    Confirm Purchase
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</section>
